.footerSection{
    height: fit-content;
    background: var(--color-primary);
    position: relative;
    
}
.grayLogo{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: fit-content;
}
.footerTop{
    display: flex;
    padding-top: 2rem;
    gap: 200px;
    color: var(--color-gray-0);
    margin-bottom: 1rem;
}
.footerLogo{
    width: fit-content;
    margin-left: 4rem;
}
.footList{
    margin-top: 2.2rem;
}
.footerLi{
    margin-bottom: 0.4rem;
}
.footerAdd{
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}
.footerIcons{
    display: flex;
    gap: 10px;
   margin-top: 1rem;
}

.horLine{
    margin: 1.5rem 2rem;
    height: 1px;
    background: var(--color-gray-400);
}
.footerBottom{
    margin: 0 4rem;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.priPol{
    text-decoration: underline;
}
.botRight{
    display: flex;
}
.colorLine{
    width: 60px;
    height: 2px;
    background: white;
    position: relative;
}
.colorLine::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #FECF00;
    z-index: 10;
}
@media screen and (max-width:600px){
    .footerTop{
        flex-direction: column;
        padding-top: 1.5rem;
        gap: 20px;
        margin-bottom: 1rem;
        margin-left: 6rem;
        
    }
    .footerLogo{
        margin-left: 0rem;
    }
    .footerBottom{
        margin: 0 6rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding-bottom: 1.5rem;
    }
    
}