.nav{
    width: 100%;
    height: 5rem;
    background: white;
    border-bottom: 1px solid var(--color-gray-200);
    display:grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.navItems{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
.navItems :hover{
    cursor: pointer;
    color: #028680;
}

.searchBox{
    display: flex;
    align-items: center;
    width: 400px;
    border: 1.8px solid var(--color-primary);
    border-radius: 50px;
    padding: 0.8rem 1.2rem;
    margin-right: 3rem;
    position: relative;
}
.searchIcon{
    position: absolute;
    right:15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.navBtn{
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--color-primary);
    background: transparent;
    display: none;
}
/* ----Media Queries----- */
@media screen and (max-width: 600px) {
.navItems{
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 3rem;
    right: -1rem;
}
.navItems li{
    box-shadow: -2rem 4rem 3rem rgba(0, 0, 0, 0.2);
    width: 100%;
}
.navItems a{
   padding: 1.3rem 4.5rem;
   display: block;
   background: var(--color-gray-0);
}
.navItems a:hover{
    background: var(--color-gray-200);
}
.navBtn{
    display: inline-block;
    overflow-y: hidden;
    overflow-x: hidden;
}
.searchBox{
    margin-left: 1rem;
    width: 250px;
    padding: 0.8rem 1rem;
    margin-right: 0.5rem;
    position: relative;
}  
}